.swiper-container {
  height: 95%;
}
.slide1 ion-card {
  min-height: 90%;
  min-width: 50%;
}
.content {
  .logo {
    max-width: 250px;
    margin: 20px 0px;
  }
  h1 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 40px;
  }
  ion-button {
    width: 60%;
    max-width: 250px;
  }
}
