<ion-content class="myContent">
  <ion-slides #mySlider pager="false" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      
      <ion-content>
        <app-home (goTo)="goTo($event)" (updateRecents)="addToRecents($event)"></app-home>
      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content>
        <app-recents [newGame]="newRecentGame"></app-recents>
      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content>
        <app-settings></app-settings>
      </ion-content>
    </ion-slide>

  </ion-slides>

</ion-content>

<ion-tabs class="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="tabButton" (click)="goTo(0)" [ngClass]="{'activeTab': currentSlide === 0}">
      <ion-icon name="home-outline"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button class="tabButton" (click)="goTo(1)" [ngClass]="{'activeTab': currentSlide === 1}">
      <ion-icon name="filter-outline"></ion-icon>
      <!-- <ion-label>Recents</ion-label> -->
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button class="tabButton" (click)="goTo(2)" [ngClass]="{'activeTab': currentSlide === 2}">
      <ion-icon name="settings-outline"></ion-icon>
      <!-- <ion-label>Settings</ion-label> -->
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


<!-- <ion-card>
        <ion-card-header>
          <ion-card-title>Welcome to <br />Game Drop</ion-card-title>
        </ion-card-header>

        <ion-card-content class="content">
          <img src="./../../assets/gdLogoBlue.png" alt="logo" class="logo">
        </ion-card-content>
      </ion-card> -->