<ion-content [fullscreen]="true">
  <ion-slides #mySlider pager="true" [options]="slideOpts">
    <ion-slide class="slide1">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Welcome to <br />Game Drop</ion-card-title>
        </ion-card-header>

        <ion-card-content class="content">
          <img src="./../../assets/gdLogoBlue.png" alt="logo" class="logo">
        </ion-card-content>

        <div class="themeButtons">
          <h3>Pick your color theme</h3>
          <span>
            <ion-button color="medium" (click)="enableLight()" medium>Light</ion-button>
            <ion-button color="secondary" (click)="enableDark()" medium>Dark</ion-button>
          </span>
        </div>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-button [routerLink]="['/tabs']">Start Using Game Drop</ion-button>
      <ion-button color="secondary" [routerLink]="['/tabs/chat']">Start a Chat</ion-button>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>





</ion-content>

