<ion-content>
  <div class="container">
    <app-home-header (goTo)="goToPage($event)"></app-home-header>

    <div class="flex content">
      <div class="box">
        <div class="flex dice">
          <span></span>
          <ion-icon name="cube-outline"></ion-icon>
          Dice
        </div>
      </div>

      <div class="box">
        <div class="flex score">
          <span></span>
          <ion-icon name="trophy-outline"></ion-icon>
          Scorekeeper
        </div>
      </div>

      <div class="box">
        <div class="flex timer">
          <span></span>
          <ion-icon name="timer-outline"></ion-icon>
          Timer
        </div>
      </div>

      <div class="box">
        <div class="flex draw">
          <span></span>
          <ion-icon name="brush-outline"></ion-icon>
          Draw
        </div>
      </div>

      <div class="box">
        <div class="flex backpack">
          <span></span>
          <ion-icon name="library-outline"></ion-icon>
          Inventory
        </div>
      </div>
      <div class="box">
        <div class="flex coinToss">
          <span></span>
          <ion-icon name="logo-usd"></ion-icon>
          Coin Toss
        </div>
      </div>

    </div>

  </div>
</ion-content>