ion-content ion-toolbar {
  --background: translucent;
}
ion-content {
  .container {
    height: 100%;
    background-image: url(../../../assets/pinstriped-suit.png);
    // background: linear-gradient(
    //   120deg,
    //   var(--ion-color-primary),
    //   var(--ion-color-secondary)
    // );
    padding: 8px;
    .content {
      flex-wrap: wrap;
    }
    .box {
      margin-right: 8px;
      > div {
        border-radius: 10px;
        flex-direction: column;
        width: 130px;
        height: 180px;
        max-width: 250px;
        border: solid 3px var(--ion-color-primary);

        ion-icon {
          margin-bottom: 8px;
        }
        span {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
      .dice {
        border: solid 3px rgba(0, 203, 218, 0.7);
        background: rgba(0, 203, 218, 0.45);
      }
      .score {
        border: solid 3px rgba(212, 200, 20, 0.7);
        background: rgba(212, 200, 20, 0.45);
      }
      .timer {
        border: solid 3px rgba(212, 66, 241, 0.7);
        background: rgba(212, 66, 241, 0.45);
      }
      .draw {
        border: solid 3px rgba(253, 144, 41, 0.7);
        background: rgba(253, 144, 41, 0.45);
      }
      .backpack {
        border: solid 3px rgba(112, 80, 255, 0.7);
        background: rgba(112, 80, 255, 0.45);
      }
      .coinToss {
        border: solid 3px rgba(31, 194, 153, 0.7);
        background: rgba(31, 194, 153, 0.45);
      }
    }
  }
}
