/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  min-height: 25px;
  min-width: 25px;
  color: white;
  transition: 2s ease-in-out;

  :active {
    // opacity: 0.9;
    // transform: scale(0.9);
    animation: buttonAnimate 0.5s linear;
  }
  > div {
    border-radius: 4px;
    position: relative;
    box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.5);
    border: solid 1px var(--ion-color-primary);
    background: rgba(34, 34, 34, 0.2);
    font-size: 14pt;
    padding: 4px;
    margin-bottom: 4px;

    ion-icon {
      font-size: 24pt;
    }
    span {
      border-radius: 2px;
      width: calc(100% - 6px);
      left: 3px;
      position: absolute;
      top: 3px;
      height: 18px;
      background: rgba(214, 214, 214, 0.18);
    }
  }
}

@keyframes buttonAnimate {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.94);
    opacity: .7;
  }
  100% {
    transform:  scale(0.93);
    opacity: .6;
  }
}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
